<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group.assignment.a1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.A1">
        <activity
            android:name=".Page.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".Page.Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.Countdown"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.TargetDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.AddTargetDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.AddTarget"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.AddCountdown"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Page.Checkin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Page.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>